.containerMain {
    height: 100vh;
    background-color: blue;
}
.row-1-col-1 {
    background-color: pink;
    height: 100vh;
    padding: 0 !important;
}
.row-1-col-2 {
    background-color: green;
    height: 100vh;
    padding: 0 !important;
}
#map {
    height: 100vh;
    width: 100%;
}